[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pytz = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
moto = "*"
twine = "*"

[requires]
python_version = "3.8"
